[Desktop Entry]
Type=Application
Name=Mono Launcher
Exec=mono-launcher %u
Icon=ru.mono.launcher
Terminal=false
Categories=Game;
MimeType=x-scheme-handler/mono;
StartupWMClass=mono-launcher